*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

/* header */

header {
    height: 667px;
    background-image: url(../images/lampos-aritonang-24gR_9lCdes-unsplash.png);
    background-size: cover;
    background-position: center;
}

.logo {
    margin-top: 51px;
    margin-left: 69px;
    width: 207px;
    height: auto;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 170px;
    font-family: "Anton", sans-serif;
    font-size: 44px;
    font-weight: 400;
    color: #FFD15B;
    text-align: center;
}

.main-search-container {
    display: flex;
    justify-content: center;
    margin-top: 29px;
}

.main-search {
    width: 954px;
    height: 72px;
    border-radius: 11px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 10px;
}

.main-search-input {
    border: none;
    font: inherit;
    width: calc(100% - 105px);
    height: 100%;
}

.main-search-input:focus {
    border: none;
    outline: none;
}

.search-btn {
    width: 52px;
    height: 52px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    font-size: 28px;
    color: #ffffff;
}

.search-btn:hover, .search-btn:active {
    background-color: #FFD15B;
    color: #000000;
}

.clear-btn {
    width: 52px;
    height: 52px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #7A7A7A;
    background-color: #FFFFFF;
}


/* Main */
main {
    background-color: #EDEDED;
}

/* Filter secondary*/
.filter-banner {
    color: #1B1B1B;
    padding: 20px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.filter-container {
    display: flex;
    gap: 50px;
}

.filter {
    position: relative;
    width: 195px;
    height: 56px;
}

.drop-btn {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
    color: inherit;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}   

.fa-chevron-down {
    transition: transform 0.3s ease-in-out;
}

.filter-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 259px;
    border-radius: 0 0 11px 11px;
    overflow: scroll;
    background-color: #FFFFFF;
    font-size: 14px;
}

.filter-dropdown::-webkit-scrollbar {
    display: none;
}

.secondary-search {
    width: calc(100% - 32px);
    height: 36px;
    margin: 0 16px;
    border-radius: 2px;
    border: 1px solid #C6C6C6;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7A7A7A;
}

.secondary-search-input {
    border: none;
    font: inherit;
    width: calc(100% - 55px);
    height: 100%;
    padding-left: 8px;
    color: inherit;
}

.secondary-search-input:focus {
    border: none;
    outline: none;
}

.secondary-search-btn {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: inherit;
    background-color: inherit;
}

.secondary-clear-btn {
    width: 25px;
    height: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: inherit;
    background-color: inherit;
}

.selected-secondary-filter, .secondary-filter-list {
    margin-top: 15px;
    padding: 0 16px;
    color: #1B1B1B;
}

.selected-secondary-filter {
    background-color: #FFD15B;
}

.selected-secondary-filter li, .secondary-filter-list li {
    height: 37px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.recipe-number {
    display: flex;
    align-items: center;
    font-family: "Anton", sans-serif;
    font-size: 21px;
}

/* Actives filters */
.active-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 100px 0 100px;
}

.active-filters ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.active-filters li {
    width: 203px;
    height: 53px;
    border-radius: 10px;
    background-color: #FFD15B;
    font-size: 14px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* Recipes */
.recipe-section {
    padding: 55px 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 66px;
    column-gap: 50px;
}

.recipe-card {
    position: relative;
    width: calc(33.33% - 100px/3);
    height: 731px;
    border-radius: 21px;
    overflow: hidden;
    background-color: #FFFFFF;
    color: #1B1B1B;
}

.recipe-card img {
    width: 100%;
    height: 253px;
    object-fit: cover;
}

.time {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 26px;
    border-radius: 10.5px;
    background-color: #FFD15B;
    font-size: 12px;
}

.card-content {
    width: 100%;
    height: 478px;
    padding: 32px 25px;
}

.card-content h2 {
    font-family: "Anton", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

.card-content h3 {
    margin-top: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #7A7A7A;
}

.card-content p {
    height: 76px;
    margin-top: 15px;
    font-size: 14px;
    overflow: hidden;
}

.ingredients-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ingredient {
    width: calc(50% - 5px);
    font-size: 14px;
}

.ingredient h4{
    font-weight: 500;
}

.ingredient div {
    color: #7A7A7A;
}

@media screen and (max-width: 1024px) {
    .main-search {
        width: 650px;
    }

    .filter-container {
        gap: 20px;
    }

    .filter-banner, .active-filters, .recipe-section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .recipe-card {
        width: calc(50% - 50px/2);
    }
}

@media screen and (max-width: 768px) {
    h1 {
        padding: 0 20px;
        font-size: 28px;
    }

    .main-search {
        width: 90%;
    }

    .filter-container {
        flex-direction: column;
    }

    .filter-banner, .active-filters, .recipe-section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .recipe-card {
        width: 100%;
    }
}